In [1]:
print("Hello World")

Hello World

In [4]:
pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.25.0-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (3.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.7/3.7 MB 66.5 MB/s eta 0:00:00ta 0:00:01
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.10/site-packages (from cassandra-driver) (1.16.0)
Collecting geomet<0.3,>=0.1
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.3)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 geomet-0.2.1.post1
Note: you may need to restart the kernel to use updated packages.

In [5]:
 import cassandra; 
print (cassandra.__version__)

3.25.0

In [6]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
         'secure_connect_bundle': 'cassandra_Secure_Bundle.zip'
}
auth_provider = PlainTextAuthProvider('poFbwnHssXZqLgSgvAwlXNzH', '7.USD3ikfZfHdkY.GZmr+oop2Fburazw-fW8CRcpiiZvhb9og+,TjLN,RdmL,4XPUlG1zu8wj.2y.61dE,Z_EKctm38ahtM25S_Gje86sPoH,FeC6A2BTonubcjg+B_c')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
      print(row[0])
else:
      print("An error occurred.")

4.0.0.6816

In [25]:
# Alter the table in cassandra to add a new column
try:
    query = "alter table employee add emp_email text"
    session.execute(query)
    print("Column added successfully !!")
except Exception as err:
    print("Exception Occured while adding the column: ",err)

Exception Occured while adding the column:  Error from server: code=2200 [Invalid query] message="Table 'test_keyspace.employee' doesn't exist"

In [27]:
# Command to Drop the keyspace in Cassandra
try:
    query = "drop keyspace employee_management"
    session.execute(query)
    print("Keyspace Dropped Successfully !!")
except Exception as err:
    print("Exception Occured while dropping the Keyspace : ",err)

Exception Occured while dropping the Keyspace :  Error from server: code=2100 [Unauthorized] message="Missing correct permission on employee_management.: Keyspace management is currently only supported at https://astra.datastax.com/org/598b8917-b6d4-4d1a-935b-fc7df8ff19a4/database/08080030-950f-4e03-8976-c1e821546ba3"

In [7]:
# Command to use a keyspace
try:
    query = "use test_keyspace"
    session.execute(query)
    print("Inside the keyspace")
except Exception as err:
    print("Exception Occured while using Keyspace : ",err)

Inside the keyspace

In [26]:
# Command to create a table
try:
    query =""" 
              create table employee(
                emp_id int,
                emp_name varchar,
                emp_salary int,
                emp_dept varchar,
                emp_email varchar,
                emp_phone varchar,
                primary key (emp_id, emp_dept)
              )
    """
    session.execute(query)
    print(" Table Created Inside the keyspace")
except Exception as err:
    print("Exception Occured while using Keyspace : ",err)

 Tbale Created Inside the keyspace

In [29]:
# Alter the table in cassandra to add a new column
try:
    query = "alter table employee drop emp_email"
    session.execute(query)
    print("Column dropped successfully !!")
except Exception as err:
    print("Exception Occured while dropping the column: ",err)

Column dropped successfully !!

In [32]:
# Command to Drop the keyspace in Cassandra
try:
    query = "alter table employee add emp_email text"
    session.execute(query)
    print("Keyspace added Successfully !!")
except Exception as err:
    print("Exception Occured while adding the Keyspace : ",err)

Keyspace added Successfully !!

In [8]:
# Insert Data Into Cassandra

try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(1, 'Shashank', 10000, 'Software', 'abc.gmail.com','+91 768467474')"
    session.execute(query)
    print("data inserted Successfully!!")
except Exception as err:
    print("Error Occur while inserting the data",err)

data inserted Successfully!!

In [9]:
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(2, 'Rahul', 20000, 'IT', 'xyx.gmail.com','+91 908467474')"
    session.execute(query)
    print("data inserted Successfully!!")  
except Exception as err:
       print("Error Occur while inserting the data",err)

data inserted Successfully!!

In [10]:
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(3, 'Sunny', 22000, 'HR', 'klm.gmail.com','+91 800067474')"
    session.execute(query)
    print("data inserted Successfully!!")  
except Exception as err:
       print("Error Occur while inserting the data",err)

data inserted Successfully!!

In [11]:
try:
    query = "insert into employee(emp_id, emp_name, emp_salary, emp_dept, emp_email, emp_phone) values(4, 'Vishal', 30000, 'Software', 'mno.gmail.com','+91 600467474')"
    session.execute(query)
    print("data inserted Successfully!!")  
except Exception as err:
       print("Error Occur while inserting the data",err)

data inserted Successfully!!

In [15]:
# Select query on cassandra table

try:
    query = "select * from employee"
    result= session.execute(query)
    for row in result:
        print(row)
    
except Exception as err:
    print("Error Occur in select command",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)
Row(emp_id=2, emp_dept='IT', emp_email='xyx.gmail.com', emp_name='Rahul', emp_phone='+91 908467474', emp_salary=20000)
Row(emp_id=4, emp_dept='Software', emp_email='mno.gmail.com', emp_name='Vishal', emp_phone='+91 600467474', emp_salary=30000)
Row(emp_id=3, emp_dept='HR', emp_email='klm.gmail.com', emp_name='Sunny', emp_phone='+91 800067474', emp_salary=22000)

In [19]:
# Select query for specific columns in cassandra table

try:
    query = "select emp_id, emp_name,emp_salary from employee"
    result= session.execute(query)
    for row in result:
        print(row)
    
except Exception as err:
    print("Error Occur in select command",err)

Row(emp_id=1, emp_name='Shashank', emp_salary=10000)
Row(emp_id=2, emp_name='Rahul', emp_salary=20000)
Row(emp_id=4, emp_name='Vishal', emp_salary=30000)
Row(emp_id=3, emp_name='Sunny', emp_salary=22000)

In [22]:
# Select query for specific columns in cassandra table and how to access from Row object

try:
    query = "select emp_id, emp_name,emp_salary from employee"
    result= session.execute(query)
    for row in result:
        print("emp_id :",row[0])
        print("emp_name :",row[1])
        print("emp_salary :",row[2])
    
except Exception as err:
    print("Error Occur in select command",err)

emp_id : 1
emp_name : Shashank
emp_salary : 10000
emp_id : 2
emp_name : Rahul
emp_salary : 20000
emp_id : 4
emp_name : Vishal
emp_salary : 30000
emp_id : 3
emp_name : Sunny
emp_salary : 22000

In [23]:
# Select query for specific columns in cassandra table and how to access from Row object
# Doesn't work


try:
    query = "select emp_id, emp_name from employee"
    result = session.execute(query)
    # option 2
    for row in result:
        print("Emp ID : ", row['emp_id'])
        print("Emp Name : ", row['emp_name'])
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Exception Occured while selecting the data from table:  tuple indices must be integers or slices, not str

In [26]:
# Write a query to get total count of employees

try:
    query = " select count(*) from employee"
    result = session.execute(query)
    for row in result:
        print("Method 1 :",row)
        print("Method 2 :",row[0])

except Exception as err:
    print("Exception occur while selecting the data",err)

Method 1 : Row(count=4)
Method 2 : 4

In [30]:
# Write a query to find maximum salary from employee table

try:
    query = " select max(emp_salary) from employee"
    result = session.execute(query)
    for row in result:
        print(row[0])
       

except Exception as err:
    print("Exception occur while selecting the data",err)

30000

In [32]:
# Write a query to filter data from cassandra table or how to use where clause
# Rules for where clause - It can be used effectively with high performance for given below type of columns
# 1.) Partition Key (Single or Composite)
                   #OR
# 2.) if Cluster column  used in where clause then it should be with Partition Key
                   #OR
# 3.) A column on which we have applied the index
                   #OR
# 4.) A column which is not part of partition key or index column or clustering column then we can use where clause but we have to
# use keyword ALLOW FILTERING - it will be a super slow performance when data volume is very high


try:
    query = "select * from employee where emp_name='Sunny' ALLOW FILTERING"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=3, emp_dept='HR', emp_email='klm.gmail.com', emp_name='Sunny', emp_phone='+91 800067474', emp_salary=22000)

In [39]:
# where clause for Partition key only or Rule no -1

try:
    query = "select * from employee where emp_id=3"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=3, emp_dept='HR', emp_email='klm.gmail.com', emp_name='Sunny', emp_phone='+91 800067474', emp_salary=22000)

In [40]:
# where clause for Clustering key only or Rule no - 2 

try:
    query = "select * from employee where emp_dept='Software' and emp_id=1"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)

In [42]:
# We have another composite partition key

priamry key ( (employeeid, fname) , dept )

select * from employee where employeeid = 'x' and dept = 'software' and fname = 'shashank'  # Wrong query

select * from employee where dept = 'software' and employeeid = 'x' and fname = 'shashank'   # Correct query

SyntaxError: invalid syntax (392236875.py, line 3)

In [54]:
try:
    query = "select * from employee where emp_dept = 'Software' and emp_id = 1 "
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, emp_dept='Software', emp_email='abc.gmail.com', emp_name='Shashank', emp_phone='+91 768467474', emp_salary=10000)

In [67]:
# Group by in cassandra  -  Allowed for all columns which are part of Primary Key
# Follow given below rules
# Rule - 1 : Use only partition key in the group by
              #OR
# Rule - 2 : if Cluster key column is used then follow the actual declared sequence in the primary key

try:
    query = "select emp_id, sum(emp_salary) as sum_salary from employee group by emp_id"
    result = session.execute(query)
    row = result.one()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

Row(emp_id=1, sum_salary=10000)

In [68]:
try:
    query = "select emp_id, sum(emp_salary) as sum_salary from employee group by emp_id"
    result = session.execute(query)
    for row in result:
            row = result.all()
            print(row)
                   
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

[Row(emp_id=1, sum_salary=10000), Row(emp_id=2, sum_salary=20000), Row(emp_id=4, sum_salary=30000), Row(emp_id=3, sum_salary=22000)]

In [71]:
#Group by in cassandra 
# Rule - 2 : if Clustering key column is used then follow the actual declared sequence in the primary key
try:
    query = "select emp_id, emp_dept, sum(emp_salary) as sum_salary from employee group by emp_id, emp_dept"
    result = session.execute(query)
    row = result.all()
    print(row)
except Exception as err:
    print("Exception Occured while selecting the data from table: ",err)

[Row(emp_id=1, emp_dept='Software', sum_salary=10000), Row(emp_id=2, emp_dept='IT', sum_salary=20000), Row(emp_id=4, emp_dept='Software', sum_salary=30000), Row(emp_id=3, emp_dept='HR', sum_salary=22000)]

In [ ]:
#